// Form
form.checkout.woocommerce-checkout {
  padding-bottom: 50px;
}

// Coupon messages
.woocommerce {
  .woocommerce-form-coupon-toggle {}
  .woocommerce-message,
  .woocommerce-error {
    display: none;
  }
}

// Button remove coupon
.woocommerce-remove-coupon {
  display: none;
}

