body {
  --width-scrollbar: 0;
  position: relative;
  color: #fff;
}
body:before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg_decor_page.svg);
  filter: brightness(10%);
  -webkit-filter: brightness(10%);
  -moz-filter: brightness(10%);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-header, header {
  margin: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
}
.header .logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.header .logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.header .logo a img {
  width: 100%;
  height: auto;
}
.header .header_buttons_w {
  display: flex;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .header .header_buttons_w {
    margin-left: auto;
  }
}
.header .menu__socials {
  margin-left: 24px;
  margin-top: 8px;
}
.header .menu__socials .menu__social {
  margin: 0;
}
.header .menu__socials .menu__social:not(:last-child) {
  margin-right: 15px;
}
.header .menu__socials .menu__social_link {
  width: 27px;
  height: 27px;
}
.header .menu__socials .menu__social_link:hover {
  opacity: 0.7;
}
.header .menu__socials .menu__social_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 992px) {
  .header .menu__socials .menu__social_img {
    display: none;
  }
}
.header .menu__socials .menu__social_img.menu__social_img--mobile_mod {
  display: none;
}
@media screen and (max-width: 992px) {
  .header .menu__socials .menu__social_img.menu__social_img--mobile_mod {
    display: block;
  }
}
.header ul li:not(:last-child) {
  margin: 0 26px 0 0;
}
@media (max-width: 1270px) {
  .header ul li:not(:last-child) {
    margin: 0 18px 0 0;
  }
}
.header ul li.current-menu-item a, .header ul li.current_page_item a {
  color: #FCB326;
}
.header ul li a {
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  color: inherit;
}
.header ul li a:hover {
  color: #FCB326;
}
@media (max-width: 1270px) {
  .header ul li a {
    font-size: 18px;
  }
}

.main_menu_box {
  display: flex;
  margin: 8px auto 0 auto;
}

.navbar-menu .menu-item {
  color: #fff;
}
.navbar-menu .menu-item a {
  color: inherit;
}
.navbar-menu .menu-item.current-menu-item {
  color: #FCB326;
}
@media (max-width: 992px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-shop-buttons a:hover {
  color: #FCB326;
}
@media (max-width: 992px) {
  .navbar-shop-buttons li {
    display: none;
  }
}

.menu_mobile__handlers {
  display: none;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.header .menu_mobile__lang_top {
  display: none;
}
.header #lang_choice_1 {
  display: none;
}

.menu_mobile__button_switch {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu_mobile__button_switch .line_1, .menu_mobile__button_switch .line_2, .menu_mobile__button_switch .line_3, .menu_mobile__button_switch .line_4, .menu_mobile__button_switch .line_5 {
  opacity: 1;
  transition: opacity 3ms ease-in-out;
}
.menu_mobile__button_switch.open .line_1, .menu_mobile__button_switch.open .line_2, .menu_mobile__button_switch.open .line_3 {
  opacity: 0;
}
.menu_mobile__button_switch:not(.open) .line_4, .menu_mobile__button_switch:not(.open) .line_5 {
  opacity: 0;
}

.menu_mobile_additional_fields {
  display: none;
}

.footer {
  min-height: 94px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}
.footer .container .right-copy a {
  color: #FCB326;
}
.footer .container .payment_methods__list {
  display: flex;
  align-items: flex-end;
  max-height: 64px;
  margin: -7px -20px -5px 0;
}
.footer .container .payment_methods__list .payment_method__item {
  margin: 0 20px 5px 0;
}
.footer .container .payment_methods__list .payment_method__item:nth-child(1) img {
  width: 114px;
  height: 40px;
}
.footer .container .payment_methods__list .payment_method__item:nth-child(2) img {
  width: 67px;
  height: 32px;
}
.footer .container .payment_methods__list .payment_method__item:nth-child(3) img {
  width: 68px;
  height: 27px;
}
.footer .container .payment_methods__list .payment_method__item:nth-child(4) img {
  width: 56px;
  height: 20px;
}
.footer .container .payment_methods__list .payment_method__item:nth-child(5) img {
  width: 48px;
  height: 37px;
  margin-bottom: -5px;
}
.footer .container .payment_methods__list .payment_method__item img {
  max-width: 114px;
  height: 40px;
}

.hero_box {
  padding: 41px 0 45px 0;
}
.hero_box .hero_box__slider {
  padding-right: 18px;
}
.hero_box .hero_box__slider .slider-home {
  height: 290px;
}
.hero_box .hero_box__slider .slick-list {
  height: 290px;
}
.hero_box .hero_box__slider .slide.slick-slide img {
  height: 290px;
  border-radius: 0;
  object-position: top center;
  -o-object-position: top center;
}
@media (max-width: 1270px) {
  .hero_box .hero_box__slider .slider-home {
    height: auto;
  }
  .hero_box .hero_box__slider .slick-list {
    height: auto;
  }
  .hero_box .hero_box__slider .slide.slick-slide img {
    height: auto;
  }
}
@media (max-width: 992px) {
  .hero_box {
    padding: 20px 0 20px 0;
  }
  .hero_box .slick-dots {
    transform: translatey(6px);
  }
  .hero_box .slick-dots li button {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 450px) {
  .hero_box {
    padding: 20px 0 10px 0;
  }
}

.hero_box__schedule {
  padding-left: 10px;
}
.hero_box__schedule .row {
  height: 100%;
}
@media (max-width: 992px) {
  .hero_box__schedule {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .hero_box__schedule {
    display: none;
  }
}

.hero_box__schedule_w {
  position: relative;
  padding: 28px 25px 21px;
  flex: 0 0 auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-radius: 10px;
  background: #FCB326 url("../images/bg_decor_2.svg") top left;
}
.hero_box__schedule_w:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(30, 29, 26);
  background: linear-gradient(136deg, rgba(252, 179, 38, 0.3) -20%, #FCB326 90%);
}
.hero_box__schedule_w .hero_box__schedule_title {
  position: relative;
  font-size: 26px;
  margin-bottom: 5px;
}
.hero_box__schedule_w .hero_box__schedule_time {
  position: relative;
  font-weight: 500;
  padding-bottom: 12px;
}
.hero_box__schedule_w .hero_box__schedule_info_w {
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
}
.hero_box__schedule_w .hero_box__schedule_info {
  display: inline-block;
  margin-bottom: 6px;
}
.hero_box__schedule_w .hero_box__schedule_info:nth-child(1) {
  margin-right: 15px;
}
.hero_box__schedule_w .hero_box__schedule_info img {
  margin-right: 5px;
}

.contact_template .hero_box__schedule_w {
  background: #ffffff;
}
.contact_template .hero_box__schedule_w:before {
  display: none;
}
.contact_template .header-section h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.contact_template .contact_template__schedule {
  padding-left: 0;
}

.contact-form input[type=submit] {
  color: #000000;
}

.text_uppercase {
  text-transform: uppercase;
}

#product-sidebar-cart {
  margin-top: 58px;
}

.total-header {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .menu_mobile__handlers {
    display: flex;
  }
  .header {
    height: 60px;
    padding: 0 18px;
    background-color: #1E1D1A;
    box-shadow: none;
  }
  .header .container {
    padding: 0;
  }
  .header .logo {
    width: 48px;
    height: 48px;
  }
  .header .logo.round {
    border-radius: 50%;
    overflow: hidden;
  }
  .header .menu_mobile__lang_top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 35px 0 26px;
    width: 29px;
    height: 30px;
  }
  .header .menu_mobile__lang_top:before {
    display: none;
    content: "";
    position: absolute;
    top: 38px;
    left: -18px;
    width: 60px;
    height: 80px;
    background: #1E1D1A;
    border-radius: 5px;
    border: 1px solid #464646;
  }
  .header .menu_mobile__lang_top li {
    display: none;
    margin: 10px 0 0 0 !important;
    position: relative;
    top: 60px;
  }
  .header .menu_mobile__lang_top li.current-lang {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 4px !important;
    color: #FCB326;
  }
  .header .menu_mobile__lang_top li.current-lang:before {
    content: "";
    position: absolute;
    top: 6px;
    right: -17px;
    width: 10px;
    height: 8px;
    background: url("../images/icons/arrow.svg") center center no-repeat;
    transform: rotate(0deg);
  }
  .header .menu_mobile__lang_top.lang_top_open li {
    display: block;
  }
  .header .menu_mobile__lang_top.lang_top_open:before {
    display: block;
  }
  .header .menu_mobile__lang_top.lang_top_open li.current-lang:before {
    transform: rotate(180deg);
  }
  .header #lang_choice_1 {
    display: flex;
    width: 40px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    position: relative;
    font-size: 19px;
    padding: 0;
  }
  .menu-active .header .navbar-menu {
    display: block;
    background: transparent;
  }
  .menu-active .header .container {
    position: static;
  }
  .navbar-shop-buttons > a {
    margin: 0;
  }
  .navbar-shop-buttons > a svg path {
    fill: #fff;
  }
  .main_menu_box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 10px 18px;
    margin-top: 72px;
    background: rgba(0, 0, 0, 0.9);
  }
  .menu-active .main_menu_box {
    display: block;
  }
  .main_menu_box .main_menu_wrapper {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #1E1D1A url("../images/bg_decor_strokes.svg") top left;
  }
  .main_menu_box .main_menu_wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(30, 29, 26);
    background: linear-gradient(120deg, rgba(30, 29, 26, 0.7) 0%, rgb(30, 29, 26) 70%);
  }
  .main_menu_box .main_menu_wrapper .navbar-menu {
    border-radius: 10px;
  }
  .main_menu_box .main_menu_wrapper .navbar-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 24px;
  }
  .main_menu_box .main_menu_wrapper .navbar-menu .menu li:not(:last-child) {
    margin: 0 0 24px 0;
  }
  .main_menu_box .main_menu_wrapper .navbar-menu .menu li a {
    text-align: center;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile_additional_fields {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__address {
    position: relative;
    display: block;
    width: 60%;
    margin-bottom: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FCB326;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__address span {
    margin-right: 10px;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__address svg path {
    fill: #FCB326;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__socials {
    margin-bottom: 24px;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__socials .menu_mobile__social_link {
    width: 30px;
    height: 30px;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__socials .menu_mobile__social_link:hover {
    opacity: 0.7;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__socials .menu_mobile__social_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__lang_bottom {
    display: flex;
    margin-bottom: 24px;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__lang_bottom li:not(:last-child) {
    margin-right: 10px;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__lang_bottom li a {
    font-weight: 500;
    text-transform: uppercase;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__bottom_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__bottom_links a {
    width: min-content;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
  }
  .main_menu_box .main_menu_wrapper .menu_mobile__bottom_links a:not(:last-child) {
    margin-right: 43px;
  }
  .footer .container .payment_methods__list {
    display: none;
  }
}
.variable_product {
  position: relative;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 350px) {
  .variable_product {
    transform: translateY(-50%) scale(0.8);
  }
}
@media screen and (max-width: 310px) {
  .variable_product {
    transform: translateY(-50%) scale(0.7);
  }
}
.variable_product .variable_product__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 93px 130px 66px;
  border-radius: 30px;
  background: #1E1D1A;
  background: #1E1D1A url(../images/bg_decor_strokes.svg) top -26px left -14px;
  background-size: 102%;
}
.variable_product .variable_product__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #ffffff;
  border-radius: 32px;
  background: rgb(30, 29, 26);
  background: linear-gradient(120deg, rgba(30, 29, 26, 0.7) -50%, rgb(30, 29, 26) 90%);
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__wrapper {
    padding: 47px 30px 32px;
    border-radius: 10px;
  }
  .variable_product .variable_product__wrapper:before {
    border-radius: 11px;
  }
}
.variable_product .variable_product__close_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 20px 20px 0 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}
.variable_product .variable_product__close_btn:hover {
  background-color: var(--accent_color, #FCB326);
}
.variable_product .variable_product__close_btn span {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icons/icon_close.svg) center center no-repeat;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__close_btn {
    margin: 10px 10px 0 0;
    padding: 5px;
  }
  .variable_product .variable_product__close_btn span {
    width: 15px;
    height: 15px;
  }
}
.variable_product .variable_product__title {
  position: relative;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__title {
    font-size: 18px;
  }
}
.variable_product .variable_product__list {
  list-style: none;
}
.variable_product .variable_product__list:not(:last-child) {
  margin-bottom: 68px;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__list:not(:last-child) {
    margin-bottom: 47px;
  }
}
.variable_product .variable_product__item {
  position: relative;
}
.variable_product .variable_product__item:not(:last-child) {
  margin-bottom: 15px;
}
.variable_product .variable_product__radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 376px;
  min-height: 104px;
  padding: 20px 23px 20px 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__radio_label {
    min-width: 260px;
    min-height: 72px;
    border-width: 1px;
  }
}
.variable_product .variable_product__radio_title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__radio_title {
    font-size: 16px;
  }
}
.variable_product .variable_product__radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.variable_product .variable_product__radio:checked + .variable_product__radio_label {
  border-color: var(--accent_color, #FCB326);
}
.variable_product .variable_product__radio:checked + .variable_product__radio_label .variable_product__icon:before {
  outline-color: var(--accent_color, #FCB326);
}
.variable_product .variable_product__radio:checked + .variable_product__radio_label .variable_product__icon:after {
  display: block;
}
.variable_product .variable_product__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;
}
.variable_product .variable_product__icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: 2px solid #ffffff;
}
.variable_product .variable_product__icon:after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--accent_color, #FCB326);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__icon {
    width: 13px;
    height: 13px;
  }
  .variable_product .variable_product__icon:before {
    outline-width: 1px;
  }
}
.variable_product .variable_product__btn_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 56px;
  margin: 0 auto;
  color: #000000;
  font-size: 23px;
  font-weight: 500;
}
.variable_product .variable_product__btn_submit:hover {
  background-color: var(--accent_color, #FCB326);
}
.variable_product .variable_product__btn_submit .single_add_to_cart_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.variable_product .variable_product__btn_submit .single_add_to_cart_button span {
  display: inline-block;
  font-size: 23px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  line-height: 53px;
}
.variable_product .variable_product__btn_submit .single_add_to_cart_button span:before {
  display: none;
}
@media screen and (max-width: 767px) {
  .variable_product .variable_product__btn_submit {
    width: 155px;
    height: 40px;
    font-size: 16px;
  }
  .variable_product .variable_product__btn_submit .single_add_to_cart_button span {
    font-size: 16px;
    line-height: 38px;
  }
}

body.body--preloader_show {
  padding-right: var(--width-scrollbar, 0);
  overflow: hidden;
  user-select: none;
}

.body--preloader_show .before-checkout-products {
  display: block;
  height: 100vh;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.cart_content_preloader {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.cart_content_preloader .preloader {
  margin: 0;
}
.cart_content_preloader.show {
  display: flex;
}

.before_checkout__header {
  align-items: center;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 767px) {
  .before_checkout__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    padding: 40px 20px 20px;
    background: #000000;
    background: var(--color_black);
    box-shadow: 0 4px 9px rgba(255, 255, 255, 0.27);
  }
}

.before_checkout__header_title {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .before_checkout__header_title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 4px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .before_checkout__close_btn {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
  }
  .before_checkout__close_btn:hover {
    background-color: var(--accent_color, #FCB326);
  }
  .before_checkout__close_btn span {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icons/icon_close.svg) center center no-repeat;
  }
}

.before_checkout__header_btn_w {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .before_checkout__header_btn_w {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background: #000000;
    background: var(--color_black);
    box-shadow: 0 -4px 9px rgba(255, 255, 255, 0.27);
  }
}

.before_checkout__header_btn {
  min-width: 320px;
}
.before_checkout__header_btn span {
  display: block;
  font-size: 18px;
}
.before_checkout__header_btn span img {
  margin: -7px 12px 0 0;
}
@media screen and (min-width: 768px) {
  .before_checkout__header_btn {
    transition: all 300ms ease-in-out;
  }
  .before_checkout__header_btn:hover {
    background: unset;
    border: 1px solid #ffce72 !important;
  }
  .before_checkout__header_btn span {
    color: #fff;
  }
  .before_checkout__header_btn span img:nth-child(1) {
    display: none;
  }
  .before_checkout__header_btn span:hover {
    color: #000;
  }
}
@media screen and (max-width: 767px) {
  .before_checkout__header_btn span {
    color: #000;
    margin-top: 4px;
  }
  .before_checkout__header_btn span img:nth-child(2) {
    display: none;
  }
  .before_checkout__header_btn.button-before {
    color: #000;
  }
  .before_checkout__header_btn.button-before:before {
    display: block;
  }
}

.add_to_cart_button,
.product-footer .button.add_to_cart_button {
  margin-bottom: 1px;
  margin-right: 1px;
  font-size: 16px;
  background: url("../images/bg_100100.svg") repeat-x top 40px left !important;
  transition: background-position 400ms ease-in-out, color 300ms ease-in-out;
}
.add_to_cart_button:hover,
.product-footer .button.add_to_cart_button:hover {
  color: #000 !important;
  background-position: top left !important;
}

.breadcrumbs .button {
  color: #fff !important;
  background: url("../images/bg_100100.svg") repeat-x top 40px left !important;
  transition: background-position 400ms ease-in-out, color 300ms ease-in-out;
}
.breadcrumbs .button:hover {
  color: #000 !important;
  background-position: top left !important;
}
.breadcrumbs .button:hover img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(0%) contrast(100%);
}

@media (min-width: 991px) {
  .shop-header-tabs .category-filtr a, .shop-header-tabs .category-filtr span {
    padding: 8px 20px;
    font-size: 18px;
  }
  .shop-header-tabs.shadow .category-filtr {
    -webkit-box-shadow: 0 0 80px 60px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 80px 60px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 80px 60px rgba(0, 0, 0, 0.75);
  }
  .shop-header-tabs.shadow .category-filtr a, .shop-header-tabs.shadow .category-filtr span {
    background: #1E1D1A;
  }
}
@media (max-width: 992px) {
  .shop-header-tabs.shadow {
    background: #000000;
    -webkit-box-shadow: 0 0 60px 60px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 60px 60px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 60px 60px rgba(0, 0, 0, 0.75);
  }
  .shop-header-tabs.shadow a, .shop-header-tabs.shadow span {
    background: #1E1D1A;
  }
}

/*# sourceMappingURL=general.css.map */
