// Colors
$color_text: #fff;
$color_text2: #000;
$accent_color: #FCB326;

body {
  position: relative;
  color: $color_text;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;

    background-image:  url(../images/bg_decor_page.svg);
    filter: brightness(10%);
    -webkit-filter: brightness(10%);
    -moz-filter: brightness(10%);
  }
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-header, header {
  margin: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}

// Header

.header {
  display: flex;
  align-items: center;

  height: 100px;

  .logo {
    width: 59px;
    height: 59px;
    margin-right: 10px;

    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .header_buttons_w {
    display: flex;
    margin-left: 10px;

    @media (max-width: 992px) {
      margin-left: auto;
    }
  }

  ul {
    li {
      &:not(:last-child) {
        margin: 0 26px 0 0;

        @media (max-width: 1270px) {
          margin: 0 18px 0 0;
        }
      }

      &.current-menu-item a,
      &.current_page_item a {
        color: $accent_color;
      }

      a {
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        color: inherit;

        &:hover {
          color: $accent_color;
        }

        @media (max-width: 1270px) {
          font-size: 18px;
        }
      }
    }
  }
}


// Navigation menu

.main_menu_box {
  display: flex;
  margin: 8px auto 0 auto;
}

.navbar-menu {
  .menu-item {
    color: $color_text;
    a {
      color: inherit;
    }

    &.current-menu-item {
      color: $accent_color;
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}


// Navigation bar shop buttons

.navbar-shop-buttons {
  a {
    &:hover {
      color: $accent_color;
    }
  }

  @media (max-width: 992px) {
    li {
      display: none;
    }
  }
}


// Mobile

.menu_mobile__handlers {
  display: none;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.header {
  .menu_mobile__lang_top {
    display: none;
  }
  #lang_choice_1 {
    display: none;
  }
}


// BUTTON SWITCH

.menu_mobile__button_switch {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .line_1, .line_2, .line_3, .line_4, .line_5 {
    opacity: 1;
    transition: opacity 3ms ease-in-out;
  }

  &.open {
    .line_1, .line_2, .line_3 {
      opacity: 0;
    }
  }

  &:not(.open) {
    .line_4, .line_5 {
      opacity: 0;
    }
  }
}

.menu_mobile_additional_fields {
  display: none;
}


// FOOTER

.footer {
  min-height: 94px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;

    .right-copy a {
      color: $accent_color;
    }

    .payment_methods__list {
      display: flex;
      align-items: flex-end;
      max-height: 64px;

      margin: -7px -20px -5px 0;

      .payment_method__item {
        margin: 0 20px 5px 0;

        &:nth-child(1) {
          img { width: 114px; height: 40px; }
        }
        &:nth-child(2) {
          img { width: 67px; height: 32px; }
        }
        &:nth-child(3) {
          img { width: 68px; height: 27px; }
        }
        &:nth-child(4) {
          img { width: 56px; height: 20px; }
        }
        &:nth-child(5) {
          img { width: 48px; height: 37px; margin-bottom: -5px }
        }

        img { max-width: 114px; height: 40px; }
      }
    }
  }
}


// HERO

.hero_box {
  padding: 41px 0 45px 0;

  .hero_box__slider {
    padding-right: 18px;

    .slider-home {
      height: 250px;
    }

    .slick-list {
      height: 250px;
    }

    .slide.slick-slide {
      img {
        height: 250px;
        border-radius: 0;
        object-position: top center;
        -o-object-position: top center;
      }
    }
  }

  .hero_box__schedule {
    padding-left: 10px;

    .row {
      height: 100%;
    }
  }

  .hero_box__schedule_w {
    position: relative;
    padding: 28px 25px 21px;
    font-size: 16px;
    font-weight: 500;

    color: $color_text2;
    border-radius: 10px;
    background: $accent_color url("../images/bg_decor_2.svg") top left ;
    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0; width: 100%; height: 100%;

      border-radius: 10px;
      background: rgb(30,29,26);
      background: linear-gradient(136deg, rgba($accent_color, 0.3) -20%, $accent_color 90%);
    }

    .hero_box__schedule_title {
      position: relative;
      font-size: 26px;
      margin-bottom: 5px;
    }

    .hero_box__schedule_time {
      position: relative;
      font-weight: 500;
      padding-bottom: 12px;
    }

    .hero_box__schedule_info_w {
      padding-bottom: 6px;
      border-bottom: 1px solid $color_text;
    }

    .hero_box__schedule_info {
      display: inline-block;
      margin-bottom: 6px;

      img {
        margin-right: 10px;
      }
    }
  }

}


// OTHER STYLES

.text_uppercase {
  text-transform: uppercase;
}

#product-sidebar-cart {
  margin-top: 58px;
}


// BUTTONS

.product-footer .button.add_to_cart_button {
  position: relative;

  &:before {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rebeccapurple;
  }

  &:hover {
    display: block;
  }
}

.button2 {
  & > span {
    position: relative;
    display: inline-block;
    margin: 1px 0 0 22px;

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -35px;
      width: 24px;
      height: 25px;
      background: url("../images/icons/icon_shop.svg") center center no-repeat;
    }
  }
}

@media (max-width: 992px) {
  .menu_mobile__handlers {
    display: flex;
  }
  .header {
    height: 60px;
    padding: 0 18px;
    background-color: #1E1D1A;
    box-shadow: none;

    .container {
      padding: 0;
    }

    .logo {
      width: 48px;
      height: 48px;

      &.round {
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .menu_mobile__lang_top {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 35px 0 26px;
      width: 29px;
      height: 30px;

      &:before {
        display: none;
        content: '';
        position: absolute;
        top: 38px;
        left: -18px;
        width: 60px;
        height: 80px;
        background: #1E1D1A;
        border-radius: 5px;
        border: 1px solid #464646;
      }

      li {
        display: none;
        margin: 10px 0 0 0 !important;
        position: relative;
        top: 60px;

        &.current-lang {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          margin-top: 4px !important;
          color: $accent_color;

          &:before {
            content: '';
            position: absolute;
            top: 6px;
            right: -17px;

            width: 10px;
            height: 8px;

            background: url("../images/icons/arrow.svg") center center no-repeat;
            transform: rotate(180deg);
          }
        }
      }

      &.lang_top_open {
        li { display: block; }
        &:before { display: block; }
        li.current-lang:before {
          transform: rotate(0deg);
        }
      }
    }

    #lang_choice_1 {
      display: flex;
      width: 40px;
      text-transform: uppercase;
      border: none;
      background: transparent;
      position: relative;
      font-size: 19px;
      padding: 0;
    }

    .menu-active & {
      .navbar-menu {
        display: block;
        background: transparent;
      }
      .container {
        position: static;
      }
    }
  }

  body.menu-active {
    overflow: hidden;
  }

  .navbar-shop-buttons > a {
    margin: 0;

    svg path {
      fill: $color_text;
    }
  }

  // MENU MOBILE ABSOLUTE
  .main_menu_box {
    .menu-active & {
      display: block;
    }

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding: 10px 18px;
    margin-top: 72px;

    background: rgba(0, 0, 0, .9);

    .main_menu_wrapper {
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 24px;

      border-radius: 10px;
      border: 1px solid $color_text;
      background: #1E1D1A url("../images/bg_decor_strokes.svg") top left ;
      &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;

        border-radius: 10px;
        background: rgb(30,29,26);
        background: linear-gradient(120deg, rgba(30,29,26,0.7) 0%, rgba(30,29,26,1) 70%);
      }

      .navbar-menu {
        border-radius: 10px;

        .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          margin-bottom: 24px;

          li {
            &:not(:last-child) {
              margin: 0 0 24px 0;
            }
            a {
              text-align: center;
            }
          }
        }
      }

      .menu_mobile_additional_fields {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }

      .menu_mobile__address {
        position: relative;
        display: block;

        width: 60%;
        margin-bottom: 24px;

        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: $accent_color;

        span {
          margin-right: 10px;
        }

        svg path {
          fill: $accent_color;
        }
      }

      .menu_mobile__insta {
        margin-bottom: 24px;
        svg path {
          fill: #ffffff;
        }
      }

      .menu_mobile__lang_bottom {
        display: flex;
        margin-bottom: 24px;

        li {
          &:not(:last-child) {
            margin-right: 10px;
          }

          a {
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }

      .menu_mobile__bottom_links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          width: min-content;

          font-weight: 100;
          font-size: 12px;
          line-height: 1.5;
          text-align: center;
          color: $color_text;

          &:not(:last-child) {
            margin-right: 43px;
          }
        }
      }
    }
  }

  // FOOTER
  .footer {
    .container {
      .payment_methods__list {
        display: none;
      }
    }
  }
}

