// before checkout

.products.before-check {

  .product-content {
    display: flex;
    flex-direction: column;
  }

  .product-content-row {
    margin-bottom: auto;
  }

}

// Form
form.checkout.woocommerce-checkout {
  padding-bottom: 50px;
}

// Coupon messages
.woocommerce {
  .woocommerce-form-coupon-toggle {}

  .woocommerce-message,
  .woocommerce-error {
    // display: none;
  }
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
  tfoot {
    position: relative;
    display: block;
    margin-top: 50px;

    &:before {
      content: "";
      position: absolute;
      top: -22px;
      left: 50%;
      width: 80%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      transform: translateX(-50%);
    }
  }
}

.add_to_cart_button {

  .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: none;
    background-color: transparent;
    border: 2px solid var(--accent_color);
    border-top-color: transparent;
    transform: translate(-100%, -40%);

    animation: add_to_cart_preloader_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &.loading {
    color: transparent !important;

    .preloader {
      display: inline-block;
    }
  }
}

@keyframes add_to_cart_preloader_animation {
  0% {
    transform: translate(-100%, -40%) rotate(0deg);
  }
  100% {
    transform: translate(-100%, -40%) rotate(360deg);
  }
}

.woocommerce-shipping-totals {
  position: relative;
}

.woocommerce ul#shipping_method {
  position: initial;

  li {
    margin: 0;

    .shipping_method {
      display: none;

      & + label {
        display: none;
      }

      &:checked {
        & + label {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    &:first-child {
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #2D2C2C;
        border-radius: 10px;
        align-items: center;
        padding-right: 10px;
      }
    }
  }

  .amount {
    margin-left: 10px;
  }
}

.wc_payment_method,
.payment_method_cod {
  display: block;
}

.woocommerce table.shop_table {
  margin-bottom: 60px !important;
}

ul.payment_methods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px!important;
  margin-right: -20px!important;

  @media screen and (max-width: 767px){
    flex-wrap: wrap;
  }

  &:before {
    display:none!important;
  }

  li {
    width: 100%;
    min-height: 60px;
    margin-right: 20px!important;
    margin-bottom: 14px !important;

    @media screen and (max-width: 767px){
      min-height: 40px;
    }

    input {
      width: 1px;
      height: 1px;
      position: absolute;
      opacity: 0;

      &:checked + .pbutton {
        background: var(--accent_color);
        border: 1px solid var(--accent_color);
      }
    }
  }

  .pbutton {
    float: inherit;

    width: 100%;
    min-width: 160px;
    height: 100%;
    min-height: 35px;
    padding: 8px 20px;
    margin-right: 0;
    line-height: 1.5;

    cursor: pointer;

    &:hover, &:active {
      background: var(--color_black, #000000);
    }
  }
}

.woocommerce-terms-and-conditions-wrapper {
  .woocommerce-form__input {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;

    &:checked + .woocommerce-form__label {
      svg {
        path {
          fill: var(--accent_color);
        }

        rect {
          stroke: transparent;
        }
      }
    }
  }

  .woocommerce-form__label {
    display: flex!important;
    align-items: center;
    cursor: pointer;

    svg {
      width: 25px;
      height: auto;
      margin-right: 10px;
      margin-bottom: 5px;

      path {
        fill: transparent;
      }

      rect {
        stroke: var(--accent_color);
      }
    }
  }
}

.woocommerce-invalid-required-field {
  .woocommerce-form__label {
    svg rect {
      stroke: red;
    }
  }
}

.buttom_back_wrapper .button {
  color: #fff !important;

  background: url('../images/bg_100100.svg') repeat-x top 40px left !important;

  transition: background-position 400ms ease-in-out, color 300ms ease-in-out;
  svg {
    margin-right: 10px;

    line {
      transition: stroke 300ms ease-in-out;
    }
  }

  &:hover {
    color: #000 !important;
    background-position: top left !important;

    svg line {
      stroke: #000000;
    }
  }
}

.no_address_search {
  position: absolute;
  bottom: 112%;
  left: 0;
  color: #151515;
  background: #b8dfb4;
  border-radius: 10px;
  padding: 7px 14px;
  line-height: 1.4;
  outline: 2px solid #ffaf15;
  outline-offset: 2px;
  z-index: 12;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffaf15 transparent transparent transparent;
  }
}

.woocommerce-order-overview__email {
  display: none;
}
